<h1>Manage your builds</h1>
<div class='columns'>
  {{#each builds as |build|}}
<div class='column is-3 is-offset-1 card'>
  <div class= 'card-content'>
    <h1 class='title is-5'>Hero: {{build.hero}}</h1>
    <h1 class='title is-5'>Title: {{build.title}}</h1>
  </div>
  <div class="card-content">
    <h1 class='title is-5'>Starting Off</h1>
    {{#each build.starting as |starting|}}
      <p>{{starting}}</p>
      {{!-- <img src="#"> --}}
    {{/each}}
  </div>
  <div class="card-content">
    <h1 class='title is-5'>Core Items</h1>
    {{#each build.core as |core|}}
      <p>{{core}}</p>
    {{/each}}
  </div>
  <div class="card-content">
    <h1 class='title is-5'>Late Game</h1>
    {{#each build.late as |late|}}
      <p>{{late}}</p>
    {{/each}}
  </div>
</div>
{{/each}}
</div>
