<div class="columns">

  <div class='column is-3 card'>
    <form action='/builds/update' method='post'>
      <input type="hidden" name="build[id]" value={{build.id}}>
    <div class= 'card-content'>
      <label class='label'>Hero</label>
          <option value="">{{build.hero}}</option>
      <label class='label'>
        Title
        <input class='input' type="text" name="build[title]" value="{{build.title}}">
      </label>
    </div>
    <div class="card-content buildSection active" id="starting">
      <label class='label'>Starting Off</label>
      {{#each build.starting as |item|}}
        <img class="itemImg" src="http://cdn.dota2.com/apps/dota2/images/items/{{item}}_lg.png" alt={{item}}>
        <input type="hidden" name="build[starting]" class={{item}} value={{item}}>
      {{/each}}
    </div>
    <div class="card-content buildSection" id="core">
      <label class='label'>Core Items</label>
      {{#each build.core as |item|}}
        <img class="itemImg" src="http://cdn.dota2.com/apps/dota2/images/items/{{item}}_lg.png" alt={{item}}>
        <input type="hidden" name="build[core]" class={{item}} value={{item}}>
      {{/each}}
    </div>
    <div class="card-content buildSection" id="late">
      <label class='label'>Late Game</label>
      {{#each build.late as |item|}}
        <img class="itemImg" src="http://cdn.dota2.com/apps/dota2/images/items/{{item}}_lg.png" alt={{item}}>
        <input type="hidden" name="build[late]" class={{item}} value={{item}}>
      {{/each}}
    </div>
    <div class="card-footer">
      <button class='button is-primary'>Update Build</button>
    </div>
    </form>
  </div>

  <div class='column is-9 card allItemsList'>
    <h1>In order of price</h1>
  </div>

</div>
